.signup-body {
  padding-bottom: 2.5rem;
}

.password-input-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Custom modal dialog width */
.custom-modal-dialog {
  max-width: 800px;
}

/* Media query for phones with a maximum width of 768px */
@media (max-width: 768px) {
  .custom-modal-dialog {
    max-width: 100%;
    margin: 0;
  }
  .modal-content {
    height: 100vh;
  }
  .modal-dialog {
    height: 100vh;
    margin: 0;
  }
}
