/* BannerPhoto.css */
.bg-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(/public/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
}

.text-container {
    padding-bottom: 90px;
}

.text-white {
    font-weight: bold;
    color: #fff;
}

/* Responsive styles using media queries */
@media (max-width: 768px) {
    .bg-image {
        height: 20rem;
    }

    .text-container {
        padding-bottom: 60px; /* Adjust the padding for smaller screens */
    }

    .text-white {
        font-size: 28px; /* Adjust the font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .bg-image {
        height: 16rem;
    }

    .text-container {
        padding-bottom: 40px; /* Adjust the padding for even smaller screens */
    }

    .text-white {
        font-size: 12px; /* Adjust the font size for even smaller screens */
    }
}
